/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'proximanova_reg';
    src: url('/assets/font/ProximaNova-Reg.otf');
    src: url('/assets/font/ProximaNova-Reg.otf') format('opentype'),
}

@font-face {
    font-family: 'proximanova_bold';
    src: url('/assets/font/ProximaNova-Bold.otf');
    src: url('/assets/font/ProximaNova-Bold.otf') format('opentype'),
}

@font-face {
    font-family: 'proximanova_thin';
    src: url('/assets/font/ProximaNova-Thin.otf');
    src: url('/assets/font/ProximaNova-Thin.otf') format('opentype'),
}

body {
    font-family: "proximanova_reg";
}